In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

In [2]:
df =pd.read_csv("C:\\Users\\vamsi\\Downloads\\CarPrice_Assignment.csv")
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

# Extract all Numbers from a String Column in Python Pandas

In [3]:
df['car_model'] = df['CarName'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [4]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_model
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,NaN
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,NaN
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,NaN
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,100.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,100.0

In [5]:
df.shape

(205, 27)

In [6]:
del df['car_ID']

In [7]:
df[df.isnull().any(axis=1)].head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_model
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,NaN
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,NaN
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,NaN
5,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,...,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0,NaN
18,2,chevrolet impala,gas,std,two,hatchback,fwd,front,88.4,141.1,...,2bbl,2.91,3.03,9.5,48,5100,47,53,5151.0,NaN

In [8]:
df=df.dropna()

In [9]:
df.shape

(74, 26)

In [10]:
df.head(3)

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_model
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950.0,100.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450.0,100.0
6,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,192.7,...,mpfi,3.19,3.4,8.5,110,5500,19,25,17710.0,100.0

In [11]:
clean_data=df.copy()
clean_data['price_update']=(clean_data['price']>16500)*1
clean_data['price_update'].head()

3    0
4    1
6    1
7    1
8    1
Name: price_update, dtype: int32

In [12]:
y=clean_data[['price_update']].copy()
y.head()

   price_update
3             0
4             1
6             1
7             1
8             1

In [13]:
df.columns

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price', 'car_model'],
      dtype='object')

In [30]:
car_purchase={'symboling', 'wheelbase', 'carlength',
        'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg','car_model'}

In [31]:
x=clean_data[car_purchase].copy()
x.columns

Index(['peakrpm', 'horsepower', 'symboling', 'wheelbase', 'compressionratio',
       'car_model', 'carlength', 'highwaympg', 'citympg', 'stroke',
       'boreratio'],
      dtype='object')

In [32]:
y.columns

Index(['price_update'], dtype='object')

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=205)

In [34]:
car_classifier=DecisionTreeClassifier(max_leaf_nodes=10,random_state=0)
car_classifier.fit(x_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [35]:
y_predicted=car_classifier.predict(x_test)

In [36]:
accuracy_score(y_test,y_predicted)*100

68.0

In [37]:
confusion_matrix(y_test,y_predicted)

array([[10,  5],
       [ 3,  7]], dtype=int64)